body {
    font-family: arial,sans-serif;
    font-size: 13px;
    padding: 0 2em;
    width: auto;
    height: auto;
}

li {
    display: inline;
    list-style-type: none;
}

header {
    display: flex;
}

header nav {
    margin-left: auto;
    justify-content: flex-end;
    padding: 0 2em;
    padding: 1em 0;
    
}

header a {
    text-decoration: none;
    color: rgba(0, 0, 0, .78);
}

.menu-header li {
    margin: 0 .6em;
}

.menu-header li a:hover {
    text-decoration: underline;
}

.menu-header li:last-child a,
.menu-header li:last-child a:hover {
    background-color: #4285f4;
    color: #fff;
    box-shadow: 0 1px  0 rgba(0, 0, 0, .15);
    font-weight: bold;
    font-family: arial,sans-serif;
    font-size: 13px;
    padding: .8em 1em;
    border-radius: 3px;
    text-decoration: none;
    cursor: default;
}

.menu-header li:nth-child(3) a {
    background-image: url(../img/icones-google.png);
    background-size: 532px 68px;
    background-position: -136px -33px;
    opacity: .78;
    padding: 1em;
}

main {
    text-align: center;
    padding: 13em;
}

main img {
    margin-bottom: 1.5em;
}